.about .wrapper{
    box-shadow: -10px -10px 8px #f3a893;
}

.abtFlex{
    display: flex;
}
.abtPic{
    height: 350px;
}

.abtFlex p{
    margin-left: 20px;
}

.abtFlex span{
    display: inline-block;
    margin-top: 10px;
}

.abtFlex i{
    font-size: 2rem;
    margin-top: 25px;
    margin-left: 15px;
    transition: all 0.5s;
}

.abtFlex i:hover,
.abtFlex i:focus,
.abtFlex i:focus-within{
    color: #053766;
    transform: scale(1.3);
}