.about .wrapper{
    box-shadow: -10px -10px 8px #f3a893;
}

.abtFlex{
    display: flex;
}
.abtPic{
    height: 350px;
}

.abtFlex p{
    margin-left: 20px;
}

.abtFlex span{
    display: inline-block;
    margin-top: 10px;
}