.contact p {
    text-align: center;
    margin: 0 auto;
    width: 650px;
    line-height: 30px;
    padding: 30px;
}

@media (max-width: 480px) {
    .contact p {
        padding: 0;
        width: 400px;
    }
}

@media (max-width: 390px) {
    .contact .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}