header{
    height: 100vh;
    opacity: 0.90;
    display: flex;
    justify-content: space-around;
}

.navBar{
    background-color: let(--background-color);
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navBar img{
    width: 60px;
    height: 60px;
}

// Dark mode toggle

// input[type="checkbox"]{
//     display: none;
// }

// input:checked + label{
//     background: #c0c0c0;
// }

// input:checked + label .fa-sun{
//     transform: translateX(-43px) rotate(160deg);
//     opacity: 0;
// }

// input:checked + label .fa-moon{
//     transform: translateX(0) rotate(0);
//     opacity: 1;
// }

// input:checked + label .ball{
//     transform: translateX(40px);
//     background: white;
// }

// label{
//     display: flex;
//     width: 75px;
//     height: 35px;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 6px;
//     background: #222;
//     border-radius: 50px;
//     cursor: pointer;
//     position: relative;
//     transition: 0.3s;
// }

// label i{
//     font-size: 1rem;
// }

// label .fa-sun{
//     color: gold;
//     transition: 0.3s;
//     opacity: 1;
// }

// label .fa-moon{
//     color: white;
//     transition: 0.3s;
//     opacity: 0;
//     transform: translateX(43px) rotate(250deg);
// }

// label .ball{
//     position: absolute;
//     display: block;
//     width: 25px;
//     height: 25px;
//     top: 5px;
//     left: 5px;
//     background: white;
//     border-radius: 50%;
//     transition: 0.3s;
// }

// Burger menu



// Main header stuff
.headerIntro{
    margin-top: 180px;
    margin-left: 50px;
    width: 400px;
}

.fa-angle-double-down{
    align-self: flex-end;
    // justify-content: center;
    margin-right: 50%;
    margin-bottom: 40px;
    font-size: 2.5rem;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.headerPic{
    position: absolute;
    top: 0;
    right: 70px;
    top: 75px;
    z-index: 1;
}

.circle::before{
    content: "";
    background: #91f1cb;
    opacity: 0.95;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 10px 10px 8px #f3a893;
    position: absolute;
    right: 80px;
    top: 70px;
    z-index: 0;
}

a{
    text-decoration: none;
}

// RESPONSIVE STYLING

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    header{
        height: 500px;
    }



    header i{
        font-size: 2rem;
    }
    .circle::before{
        width: 300px;
        height: 300px;
        right: 90px;
    }

    .headerPic{
        width: 420px;
        top: 100px;
        margin: 0;
        padding: 0;
    }

    header i{
        margin-bottom: 20px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .headerIntro{
        margin-left: 30px;
    }

    header i{
        margin-bottom: 0;
        margin-left: 60px;
    }

    nav{
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    nav ul{
        padding: 0;
    }
    
    nav ul li{
        justify-content: center;
        transition: transform 0.5s;

    }

    nav ul li:hover,
    nav ul li:focus,
    nav ul li:focus-within{
    transform: scale(1.2);
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
    header{
        height: 600px;
    }

    .headerIntro{
        text-align: center;
    }

    .headerIntro p{
        margin: 0 auto;
    }

    header i {
        visibility: hidden;
    }
}

/*iPhone 12 (so it looks nice on my phone)*/

@media (max-width: 390px){
    nav{
        margin-left: 20px;
        margin-top: -20px;
    }

    .circle::before{
        right: 50px;
    }

    .headerPic{
        right: 30px;
    }

    .headerIntro{
        margin: 0 auto;
    }
}