.projects .wrapper{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.projects p{
    text-align: center;
}

.card{
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 400px;
    justify-content: space-between;
}

.card img{
    box-shadow: 2px 2px 10px rgb(134, 134, 134);
    border-radius: 5px;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.right{
    flex-direction: row-reverse;
}

.description{
    margin-top: 50px;
    height: 200px;
    width: 48%;
    text-align: center;
}

// RESPONSIVE STYLING

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .card{
        // border: 2px solid red;
        flex-direction: column;
        height: auto;
        padding: 10px;
        margin-bottom: 70%;
    }
    .card img{
        width: 100%;
    }

    .left img{
        height: 400px;
    }
    .description{
        width: 100%;
        margin: 0 auto;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .description{
        padding: 20px;
        font-size: 0.8rem;
    }
}

/*iPhone 12 (so it looks nice on my phone)*/

@media (max-width: 390px){

    .description{
        padding-bottom: 0;
    }

    .card:last-of-type{
        margin-bottom: 0;
    }
}