.projects {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .projectContainer {
        display: none;
    }

    .carousel {
        max-width: 900px;
        max-height: 550px;
        width: 900px;
        height: 550px;
        display: flex;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        visibility: visible;

        .carouselItem {
            visibility: visible;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            flex-shrink: 0;
            z-index: 0;
            transition: 0.6s all linear;

            .carouselItemImg {
                width: 60%;
                height: 90%;
                order: 2;
                align-self: flex-end;
                flex-basis: 60%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                z-index: 3;
                transform: translateX(100%);
                transition: 0.6s all ease-in-out;
            }

            .carouselItemInfo {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                order: 1;
                left: 0;
                margin: auto;
                padding: 0 40px;
                width: 40%;

                .carouselItemTitle {
                    margin: 15px 0 30px 0;
                    font-size: 2.2rem;
                    line-height: 45px;
                    letter-spacing: 3px;
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.6s all ease-in-out;
                }

                .carouselItemSubtitle {
                    letter-spacing: 3px;
                    font-size: 0.7rem;
                    margin: 0;
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s all ease-in-out;
                }

                .carouselItemDescription {
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.6s all ease-in-out;
                    text-align: left;
                    margin-top: 35px;
                    margin-bottom: 35px;
                    font-size: 0.8rem;
                    line-height: 22px;
                }
            }
        }

        .carouselItemBtn {
            width: 35%;
            letter-spacing: 1px;
            font-size: 1rem;
            text-transform: uppercase;
            margin: 0;
            transform: translateY(25%);
            opacity: 0;
            visibility: hidden;
            transition: 0.6s all ease-in-out;
        }

        .carouselNav {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .carouselIcon {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            fill: #5d5d5d;
        }

        .carouselArrow {
            cursor: pointer;
            display: inline-block;
            padding: 11px 15px;
            position: relative;
        }

        .carouselArrow:nth-child(1):after {
            content: '';
            right: -3px;
            position: absolute;
            width: 1px;
            background-color: #b0b0b0;
            height: 14px;
            top: 50%;
            margin-top: -7px;
        }

        .active {
            z-index: 1;
            display: flex;
            visibility: visible;
        }

        .active .carouselItemContainer .carouselItemSubtitle,
        .active .carouselItemContainer .carouselItemTitle,
        .active .carouselItemContainer .carouselItemDescription,
        .active .carouselItemContainer .carouselItemBtn {
            transform: translateY(0);
            opacity: 1;
            transition: 0.6s all ease-in-out;
            visibility: visible;
        }

        .active .carouselItemImg {
            transition: 0.6s all ease-in-out;
            transform: translateX(0);
        }
    }
}

.carouselItem1 .carouselItemImg {
    background-image: url('../assets/captured_mockup.jpg');
}


.carouselItem2 .carouselItemImg {
    background-image: url('../assets/atw_mockup.jpg');
}

.carouselItem3 .carouselItemImg {
    background-image: url('../assets/rp_mockup.jpg');
}

/* RESPONSIVE STYLE */

@media(max-width: 900px) {
    .projects {
        .carousel {
            width: 700px;
            height: 550px;

            .carouselItem {
                .carouselItemInfo {
                    .carouselItemTitle {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 660px) {
    .projects {
        .projectContainer {
            display: flex;
        }

        .carousel {
            display: none;
        }
    }
}