    .skillContainer {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 0;

            li {
                text-align: center;
                color: #fff;
                width: calc(100% / 4 - 20px);
                margin: 10px;
                padding: 10px;

                i {
                    color: #fff;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 5px;
                    padding: 20px;
                    transition: all 0.3s ease-in-out;
                }

                i:hover,
                i:focus,
                i:focus-within {
                    transform: scale(1.3);
                    text-shadow:
                        0 0 2px #fff,
                        0 0 3px #000,
                        0 0 15px #fff,
                        0 0 18px #40ff4d,
                        0 0 69px #40ff4d,
                        0 0 39px #40ff4d,
                        0 0 87px #40ff4d,
                        0 0 69px #40ff4d;
                }

                span {
                    display: block;
                }
            }
        }
    }






    // RESPONSIVE STYLING

    @media (max-width: 940px) {
        .skillContainer {
            flex-direction: column;
        }

        .skillset ul {
            width: 100%;
        }
    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        .skillset i {
            font-size: 2rem;
        }

        .skillset ul {
            width: 100%;
        }

        .skillset li {
            width: calc(100% / 3 - 10px);
            margin: 5px;
            padding: 15px;
        }

        @media (max-width: 480px) {

            .skillset ul {
                width: 100%;
                padding: 0;
            }

            .skillset li {
                padding: 15px;
            }

        }

        @media (max-width: 480px) {
            .skillset .wrapper {
                padding: 5px;
            }

            .skillContainer ul li {
                padding: 10px;
                width: calc(100% / 3 - 20px);

                i {
                    font-size: 2rem;
                }
            }
        }

        /*iPhone 12 (so it looks nice on my phone)*/

        @media (max-width: 390px) {

            .skillset .wrapper {
                width: 100%;
            }

            .skillset li {
                width: calc(100% / 3 - 20px);
                padding: 10px;

            }
        }
    }

    @media (max-width: 320px) {
        .skillContainer ul li {
            padding: 10px;
            width: calc(100% / 3 - 20px);

            i {
                font-size: 1.5rem;
            }
        }
    }