.skillset .wrapper{
    box-shadow: 10px -10px 8px #f3a893;
}

.skillset ul{
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.skillset li{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    padding: 10px;
    
}
.skillset i{
    font-size: 2.3rem;
    text-align: center;
}

.skillset span{
    display: block;
}