h1, nav ul li{
    font-family: 'Permanent Marker', cursive;
    color: #073200;
}

nav ul li, p, li, h2, h3, span{
    font-family: 'Archivo', sans-serif;
    color: #073200;
}

h1{
    font-size: 3.3rem;
}

nav ul li a{
    font-size: 1.3rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}


p, li{
    font-size: 1rem;
}

li{
    list-style: none;
}

span{
    font-size: 1rem;
}

button{
    font-size: 1.3rem;
}


// RESPONSIVE STYLING

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    h1{
        font-size: 2rem;
    }
    nav{
        font-size: 0.7rem;
    }
    header p{
        font-size: 0.9rem;
        width: 250px;
    }

    h3{
        font-size: 1.2rem;
    }
    .flexText p{
        font-size: 0.7rem;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    nav ul li a{
        font-size: 0.9rem;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .skillset li{
        font-size: 0.8rem;
    }
}

/*iPhone 12 (so it looks nice on my phone)*/

@media (max-width: 390px){
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 0.8rem;
    }

    h3{
        font-size: 0.9rem;
    }
    .flexText p{
        font-size: 0.7rem;
    }
}
