h1 {
    font-size: 6rem;
    letter-spacing: 1.5px;
}

h1,
.menu nav ul li a,
.projectContainer h2 {
    font-family: 'Yellowtail', cursive;
}

h1,
h2,
.menu nav ul li a,
.fa-chevron-down,
footer p {
    // Neon effect (code tips taken from https: //css-tricks.com/how-to-create-neon-text-with-css/)
    color: rgb(239, 229, 229);
    text-shadow:
        0 0 2px #fff,
        0 0 3px #000,
        0 0 15px #fff,
        0 0 18px #ffabaa,
        0 0 69px #ffabaa,
        0 0 39px #ffabaa,
        0 0 87px #ffabaa,
        0 0 69px #ffabaa;
}

a,
p,
li,
h2,
h3,
span {
    font-family: 'Archivo', sans-serif;
    color: rgb(239, 229, 229);
}

.menu nav ul li a {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}


p,
li {
    font-size: 1rem;
}

li {
    list-style: none;
}

span {
    font-size: 1rem;
}

button {
    font-size: 1.3rem;
}

#about h2 {
    margin-bottom: 30px;
}

.fa-circle-up {
    font-size: 1.7rem;
}

// RESPONSIVE STYLING

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

// RESPONSIVE STYLES

// @media(max-width: 900px) {

// }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    nav ul li a {
        font-size: 0.9rem;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 0.8rem;
    }

    .skillset li {
        font-size: 0.7rem;
    }
}

/*iPhone 12 (so it looks nice on my phone)*/

@media (max-width: 390px) {
    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .skillset span {
        font-size: 0.9rem;
    }
}

@media(max-width: 320px) {
    .skillset span {
        font-size: 0.75rem;
    }
}