h1, h2, h3, nav ul li, button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: let(color);
}

a:visited{
    color: let(color);
}

h1{
    font-size: 3.3rem;
}

nav ul li a{
    font-size: 1rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}


p, li{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: let(color);
}

li{
    list-style: none;
}

button{
    font-size: 1.3rem;
}


// RESPONSIVE STYLING

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    h1{
        font-size: 2rem;
    }
    nav{
        font-size: 0.7rem;
    }
    header p{
        font-size: 0.9rem;
        width: 250px;
    }

    h3{
        font-size: 1.2rem;
    }
    .flexText p{
        font-size: 0.7rem;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    nav ul li a{
        font-size: 0.9rem;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .skillset li{
        font-size: 0.8rem;
    }
}

/*iPhone 12 (so it looks nice on my phone)*/

@media (max-width: 390px){
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 0.8rem;
    }

    h3{
        font-size: 0.9rem;
    }
    .flexText p{
        font-size: 0.7rem;
    }
}
