html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 6rem;
  letter-spacing: 1.5px;
}

h1,
.menu nav ul li a {
  font-family: "Yellowtail", cursive;
}

h1,
h2,
.menu nav ul li a,
.fa-chevron-down,
footer p {
  color: rgb(239, 229, 229);
  text-shadow: 0 0 2px #fff, 0 0 3px #000, 0 0 15px #fff, 0 0 18px #ffabaa, 0 0 69px #ffabaa, 0 0 39px #ffabaa, 0 0 87px #ffabaa, 0 0 69px #ffabaa;
}

a,
p,
li,
h2,
h3,
span {
  font-family: "Archivo", sans-serif;
  color: rgb(239, 229, 229);
}

.menu nav ul li a {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

p,
li {
  font-size: 1rem;
}

li {
  list-style: none;
}

span {
  font-size: 1rem;
}

button {
  font-size: 1.3rem;
}

#about h2 {
  margin-bottom: 30px;
}

.fa-circle-up {
  font-size: 1.7rem;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  nav ul li a {
    font-size: 0.9rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 0.8rem;
  }
  .skillset li {
    font-size: 0.7rem;
  }
}
/*iPhone 12 (so it looks nice on my phone)*/
@media (max-width: 390px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  .skillset span {
    font-size: 0.9rem;
  }
}
html {
  font-size: 125%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(12, 12, 12);
}

section {
  margin-top: 60px;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media screen and (prefers-reduced-motion) {
  h1 {
    -webkit-animation: none;
            animation: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
header {
  height: 100vh;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.toggle {
  z-index: 101;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 80px;
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger div {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  height: 2px;
  width: 60%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hamburger div::before,
.hamburger div::after {
  content: "";
  position: absolute;
  top: -10px;
  background: white;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hamburger div::after {
  top: 10px;
}

.toggle:checked + .hamburger div::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
}

.toggle:checked + .hamburger div::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: white;
}

.toggle:checked + .hamburger div {
  background: black;
}

.menu {
  width: 0%;
  height: 100vh;
  line-height: 60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.toggle:checked ~ .menu {
  width: 15%;
}

.menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 70px;
  padding-left: 10px;
  visibility: hidden;
}
.menu nav ul li a {
  color: white;
}

.toggle:checked ~ .menu nav ul {
  -webkit-transition: visibility 0.4s ease;
  transition: visibility 0.4s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  visibility: visible;
}

.headTextCard {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headTextCard h1 {
  -webkit-animation: fadeInAnimation ease-in 3s;
          animation: fadeInAnimation ease-in 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.headTextCard .headerIntro {
  text-align: center;
  width: 50%;
}
.headTextCard .headerIntro p {
  margin-top: 60px;
  line-height: 27px;
  letter-spacing: 2px;
}

.fa-angle-double-down {
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 90%;
  font-size: 2.5rem;
  -webkit-animation: fadeInAnimation ease-in 7s;
          animation: fadeInAnimation ease-in 7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1280px) {
  .fa-angle-double-down {
    font-size: 2rem;
    top: 92%;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .headerIntro {
    width: 100%;
  }
  .headerIntro p {
    margin-top: 0;
    width: 100%;
  }
  .fa-angle-double-down {
    font-size: 1.8rem;
    top: 88%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .fa-angle-double-down {
    visibility: hidden;
  }
  .menu {
    z-index: 100;
    position: absolute;
    background: rgb(12, 12, 12);
  }
  .toggle:checked ~ .menu {
    width: 100vw;
    margin-top: 8%;
  }
  .menu nav ul {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header .toggle:checked ~ .menu {
    margin-top: 9%;
  }
  header .headerIntro h1 {
    width: 100%;
  }
  header .headerIntro p {
    line-height: 23px;
    width: 100%;
    margin-top: 0;
  }
}
.abtFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.abtFlex .abtPic {
  height: 350px;
  border-radius: 50%;
}
.abtFlex p {
  line-height: 30px;
  width: 600px;
}
.abtFlex p span {
  display: inline-block;
  margin-top: 10px;
}
.abtFlex i {
  font-size: 2rem;
  margin-top: 25px;
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.abtFlex i:hover,
.abtFlex i:focus,
.abtFlex i:focus-within {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  text-shadow: 0 0 2px #fff, 0 0 3px #000, 0 0 15px #fff, 0 0 18px #1DA1F2, 0 0 69px #1DA1F2, 0 0 39px #1DA1F2, 0 0 87px #1DA1F2, 0 0 69px #1DA1F2;
}

.top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  color: white;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 940px) {
  .abtPic {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .abtFlex {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .abtFlex .abtPic {
    margin: 0 auto;
    height: 300px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .abtFlex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*iPhone 12 (so it looks nice on my phone)*/
@media (max-width: 390px) {
  .abtPic {
    width: 100%;
  }
}
.skillContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skillContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.skillContainer ul li {
  text-align: center;
  color: #fff;
  width: calc(25% - 20px);
  margin: 10px;
  padding: 10px;
}
.skillContainer ul li i {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 5px;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skillContainer ul li i:hover,
.skillContainer ul li i:focus,
.skillContainer ul li i:focus-within {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  text-shadow: 0 0 2px #fff, 0 0 3px #000, 0 0 15px #fff, 0 0 18px #40ff4d, 0 0 69px #40ff4d, 0 0 39px #40ff4d, 0 0 87px #40ff4d, 0 0 69px #40ff4d;
}
.skillContainer ul li span {
  display: block;
}

@media (max-width: 940px) {
  .skillContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillset ul {
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .skillset i {
    font-size: 2rem;
  }
  .skillset ul {
    width: 100%;
  }
  .skillset li {
    width: calc(33.3333333333% - 10px);
    margin: 5px;
    padding: 15px;
  }
  /*iPhone 12 (so it looks nice on my phone)*/
}
@media (max-width: 768px) and (max-width: 480px) {
  .skillset ul {
    width: 100%;
    padding: 0;
  }
  .skillset li {
    padding: 15px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .skillset .wrapper {
    padding: 5px;
  }
  .skillContainer ul li {
    padding: 10px;
    width: calc(33.3333333333% - 20px);
  }
  .skillContainer ul li i {
    font-size: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 390px) {
  .skillset .wrapper {
    width: 100%;
  }
  .skillset li {
    width: calc(33.3333333333% - 20px);
    padding: 10px;
  }
}
#carousel-wrapper {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #menu {
  margin: 30px;
  height: 380px;
  width: 80%;
  overflow: hidden;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#carousel-wrapper #menu #current-project {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-25%, 0%);
          transform: translate(-25%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #menu #current-project #current-project-text1 {
  font-size: 1rem;
  line-height: 1.4rem;
  width: 350px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#carousel-wrapper #menu #current-project #current-project-text1::before {
  content: attr(data-next-text);
  position: absolute;
  -webkit-transform: translate(0%, 380px);
          transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#carousel-wrapper #menu #current-project #current-project-text2 {
  text-align: left;
  font-size: 1rem;
  width: 300px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#carousel-wrapper #menu #current-project #current-project-text2::before {
  position: absolute;
  -webkit-transform: translate(0%, 380px);
          transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#carousel-wrapper #menu #current-project #current-project-text2 :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: rgb(239, 229, 229);
  text-shadow: 0 0 2px #fff, 0 0 3px #000, 0 0 15px #fff, 0 0 18px #ffabaa, 0 0 69px #ffabaa, 0 0 39px #ffabaa, 0 0 87px #ffabaa, 0 0 69px #ffabaa;
}
#carousel-wrapper #menu #next {
  background: rgb(12, 12, 12);
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 250px;
  right: 590px;
  -webkit-transform: translate(310px, 50px);
          transform: translate(310px, 50px);
}
#carousel-wrapper #menu #next .fa-chevron-down {
  font-size: 2.8rem;
}
#carousel-wrapper #project-image {
  height: 350px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
  position: absolute;
  right: 300px;
  -webkit-transform: translate(140px, 0);
          transform: translate(140px, 0);
}
#carousel-wrapper.anim-next {
  pointer-events: none;
}
#carousel-wrapper.anim-next #current-project-text1 {
  -webkit-animation: next-text 0.65s 0.085s;
          animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #current-project-text2 {
  -webkit-animation: next-text 0.65s 0.085s;
          animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #next {
  -webkit-animation: next-bottom-arrow 0.65s 0.085s;
          animation: next-bottom-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-next #project-image {
  -webkit-animation: next-image 0.65s 0.085s;
          animation: next-image 0.65s 0.085s;
}

@-webkit-keyframes next-text {
  50%, 55% {
    -webkit-transform: translate(0%, -390px);
            transform: translate(0%, -390px);
  }
  to {
    -webkit-transform: translate(0%, -380px);
            transform: translate(0%, -380px);
  }
}

@keyframes next-text {
  50%, 55% {
    -webkit-transform: translate(0%, -390px);
            transform: translate(0%, -390px);
  }
  to {
    -webkit-transform: translate(0%, -380px);
            transform: translate(0%, -380px);
  }
}
@-webkit-keyframes next-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
@keyframes next-image {
  0% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(140px, 0) scale(1.1);
            transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(140px, 0) scale(1);
            transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 940px) {
  #carousel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #carousel-wrapper #menu #next {
    right: 450px;
  }
  #carousel-wrapper #project-image {
    height: 300px;
    width: 350px;
    right: 200px;
  }
}
@media (max-width: 768px) {
  #carousel-wrapper #menu #current-project #current-project-text1 {
    font-size: 0.9rem;
    width: 280px;
  }
  #carousel-wrapper #next {
    width: 1rem;
  }
  #carousel-wrapper #project-image {
    height: 250px;
    width: 300px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #carousel-wrapper {
    width: 100%;
  }
  #carousel-wrapper #menu {
    height: 100vh;
  }
  #carousel-wrapper #menu #current-project {
    height: 100vh;
    left: 130px;
    bottom: 0;
  }
  #carousel-wrapper #menu #current-project #current-project-text1 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 0.8rem;
  }
  #carousel-wrapper #menu #current-project #current-project-text2 {
    padding-top: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #carousel-wrapper #menu #next {
    top: 395px;
    right: 528px;
  }
  #carousel-wrapper #project-image {
    height: 200px;
    width: 250px;
    right: 255px;
    top: 2460px;
  }
}
/*iPhone 12 (so it looks nice on my phone)*/
@media (max-width: 390px) {
  #carousel-wrapper {
    width: 100%;
  }
  #carousel-wrapper #menu {
    height: 80vh;
  }
  #carousel-wrapper #menu #current-project {
    left: 87px;
    top: 30px;
  }
  #carousel-wrapper #menu #current-project #current-project-text2 {
    padding-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #carousel-wrapper #menu #current-project #next {
    right: 320px;
    top: 560px;
    width: 100%;
  }
  #carousel-wrapper #project-image {
    top: 2881px;
    right: 210px;
  }
}
.contact p {
  text-align: center;
  margin: 0 auto;
  width: 650px;
  line-height: 30px;
  padding: 30px;
}

@media (max-width: 480px) {
  .contact p {
    padding: 0;
    width: 400px;
  }
}
@media (max-width: 390px) {
  .contact .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
footer {
  height: 57px;
}

footer p {
  color: #FEFEF4;
  padding-top: 15px;
  text-align: center;
}